In [2]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

In [3]:
df = pd.read_csv("melb_data.csv")

In [4]:
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,NaN,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2.0,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3.0,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3.0,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4.0,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4.0,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3.0,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3.0,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4.0,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4.0,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [5]:
x = df[["Rooms", "Bathroom", "Landsize", "Lattitude", "Longtitude"]]
y = df["Price"]

In [6]:
x_train, x_validate, y_train, y_validate = train_test_split(x,y, random_state=0)

In [7]:
x_train

       Rooms  Bathroom  Landsize  Lattitude  Longtitude
664      3.0       2.0     368.0  -37.78460   145.09350
3270     2.0       1.0     586.0  -37.74350   145.04860
3873     2.0       1.0     348.0  -37.86720   145.04320
13170    3.0       1.0     521.0  -37.63854   145.05179
1730     4.0       2.0     687.0  -37.89310   145.04790
...      ...       ...       ...        ...         ...
13123    3.0       1.0     212.0  -37.77695   144.95785
3264     3.0       1.0     748.0  -37.74160   145.04810
9845     4.0       2.0     441.0  -37.73572   144.97256
10799    3.0       1.0     606.0  -37.72057   145.02615
2732     4.0       2.0     319.0  -37.79430   144.88750

[10185 rows x 5 columns]

In [17]:
imputer = SimpleImputer()  #Este es el objeto cuya función será imputar el promedio de la columna a cada casilla q tenga NaN
x_train_imputed = pd.DataFrame(imputer.fit_transform(x_train)) #-->Agarra el x_train, el imputer lo rellena con los promedios en donde hay NaN y crea un nuevo df.
x_validate_imputed = pd.DataFrame(imputer.transform(x_validate)) #--> Ojo !! Acá no es idem anterior. Acá no se usa fit !!! Directamente transform.

In [18]:
#IMPORTANTE!! El imputer SACA LOS ENCABEZADOS. Asique hay que volver a ponerselos:

x_train_imputed.columns = x_train.columns
x_validate_imputed.columns = x_validate.columns

In [19]:
x_train_imputed

       Rooms  Bathroom  Landsize  Lattitude  Longtitude
0        3.0       2.0     368.0  -37.78460   145.09350
1        2.0       1.0     586.0  -37.74350   145.04860
2        2.0       1.0     348.0  -37.86720   145.04320
3        3.0       1.0     521.0  -37.63854   145.05179
4        4.0       2.0     687.0  -37.89310   145.04790
...      ...       ...       ...        ...         ...
10180    3.0       1.0     212.0  -37.77695   144.95785
10181    3.0       1.0     748.0  -37.74160   145.04810
10182    4.0       2.0     441.0  -37.73572   144.97256
10183    3.0       1.0     606.0  -37.72057   145.02615
10184    4.0       2.0     319.0  -37.79430   144.88750

[10185 rows x 5 columns]

In [20]:
x_validate_imputed

      Rooms  Bathroom  Landsize  Lattitude  Longtitude
0       4.0       2.0     450.0  -37.86100   144.89850
1       2.0       1.0     172.0  -37.81000   144.88960
2       3.0       1.0     581.0  -37.76740   144.82421
3       3.0       2.0     128.0  -37.85260   145.00710
4       3.0       2.0     480.0  -37.72523   144.94567
...     ...       ...       ...        ...         ...
3390    3.0       1.0     694.0  -38.03819   145.12443
3391    3.0       1.0     275.0  -37.77790   144.98620
3392    4.0       2.0     493.0  -37.78457   145.10453
3393    3.0       1.0       0.0  -37.77230   144.90940
3394    3.0       1.0     537.0  -37.74430   144.94940

[3395 rows x 5 columns]

In [21]:
def Error (x_train , x_validate, y_train, y_validate, n_estimators):
    
    modelo = RandomForestRegressor(n_estimators=n_estimators, random_state=0)
    modelo.fit(x_train, y_train)
    predicciones = modelo.predict(x_validate)
    MAE = mean_absolute_error(y_validate, predicciones)
    return MAE

In [8]:
Min_MAE = 1000000000

for n in range [1100000]:
      
    new_MAE = Error(x_train_imputed, x_validate_imputed, y_train, y_validate, n)
    
    if new_MAE < min_MAE:
        
        n_estimators = n
        Min_MAE = new_MAE
        
print("Optimo n_estimators")
print(n_estimators)
print("Minimo error en este modelo")
print(Min_MAE)

TypeError: 'type' object is not subscriptable

In [ ]:
#IMPORTANTISIMO --> EL MAE ES EL MISMO QUE EN EL EJEMPLO ANTERIOR. ¿PORQUE?

#En teoría debería ser menor el error acá, porque lo que se hace es mas efectivo que eliminar toda la columna.
#Sin embargo!!! --> El df que yo utilicé no tiene NaN ! 
#Entonces en el anterior caso (DropNaN), nunca eliminó nada. En este caso, nunca tuvo que reemplazar ninguna celda por el promedio.
#     PORQUE SIMPLEMENTE NO HAY NaN EN EL df QUE SUBÍ.