In [60]:
import pandas as pd
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

In [20]:
#ADEM√ÅS DE REEMPLAZAR POR EL PROMEDIO, LO QUE SE HACE ES AGREGAR UNA COLUMNA QUE AVISA SI EL VALOR FALTABA O NO.

In [61]:
df = pd.read_csv("melb_data.csv")
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,NaN,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2.0,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3.0,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3.0,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4.0,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4.0,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3.0,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3.0,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4.0,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4.0,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [62]:
x = df[["Rooms", "Bathroom", "Landsize", "Lattitude", "Longtitude"]]
y = df["Price"]

In [63]:
x

       Rooms  Bathroom  Landsize  Lattitude  Longtitude
0        NaN       1.0     202.0  -37.79960   144.99840
1        2.0       1.0     156.0  -37.80790   144.99340
2        3.0       2.0     134.0  -37.80930   144.99440
3        3.0       2.0      94.0  -37.79690   144.99690
4        4.0       1.0     120.0  -37.80720   144.99410
...      ...       ...       ...        ...         ...
13575    4.0       2.0     652.0  -37.90562   145.16761
13576    3.0       2.0     333.0  -37.85927   144.87904
13577    3.0       2.0     436.0  -37.85274   144.88738
13578    4.0       1.0     866.0  -37.85908   144.89299
13579    4.0       1.0     362.0  -37.81188   144.88449

[13580 rows x 5 columns]

In [64]:
y

0        1480000.0
1        1035000.0
2        1465000.0
3         850000.0
4        1600000.0
           ...
13575    1245000.0
13576    1031000.0
13577    1170000.0
13578    2500000.0
13579    1285000.0
Name: Price, Length: 13580, dtype: float64

In [65]:
x_train, x_validate, y_train, y_validate = train_test_split(x, y, random_state=0)

In [66]:
#Creamos una copia, para no modificar la data original 
x_train_plus = x_train.copy()
x_validate_plus = x_validate.copy()

In [67]:
# ¬øEn que columnas faltan valores ? 

columnas_train_na = []
columnas_validate_na = []

for col in x_train_plus:
    if x_train_plus[col].isnull().any():
        
        columnas_train_na = columnas_train_na + [col]
        

for col in x_validate_plus:
    if x_validate_plus[col].isnull().any():
        
        columnas_validate_na = columnas_validate_na + [col]
        
        
print(columnas_train_na)
print(columnas_validate_na)

['Rooms']
['Rooms']

In [71]:
#Ahora lo que vamos a hacer es ver donde hay NaN y crear una nueva columna donde diga si el NaN estaba o no. 

#SUPER MEGA IMPORTANTE. OJO

#Puede pasar, que cuando se haga la division de data con 'train_test_split', una mitad de la data quede con NaN y otra mitad 
# de la data no. Ah√≠ tenemos un problema, porque puede crear por ejemplo para la x_train una nueva columna que se llame 
# 'Rooms_missing_values', pero para la x_validate eso no suceder√° porque en la x_validate no falta ningun n√∫mero en la columna
# 'Rooms'. Es decir, solo x_train tiene NaN en la columna Rooms.

#¬øQu√© sucede entonces? --> Se esta ajustando (fit) un modelo con 6 variables x Y luego se eval√∫a en 5.

In [72]:
#Entonces: VAMOS A CREAR ESA COLUMNA 'ROOMS_MISSING_VALUES' para ambas partes de la data, tanto la train como la validate.

# ¬øC√≥mo? : As√≠

for col in columnas_train_na:  #columnas_train_na = ["Rooms"]
    
    x_train_plus[col + "_missing_value"] = x_train_plus[col].isnull()  #  "x_train_plus.isnull()" devuelve un Booleano True o False
    x_validate_plus[col + "_missing_value"] = x_validate_plus[col].isnull()
    
# En la ultima linea de c√≥digo, va a crear la columna "Rooms_missing_value" para validate. 
# Podr√≠a pasar que la validate data no tenga ningun NaN en Rooms ! (En ese caso 'Rooms_missing_values' se llena de Falses)
# Pero es fundamental que la x_train y la x_validate TENGAN LA MISMA CANTIDAD DE COLUMNAS.

In [76]:
# x_train_plus con la columna que avisa si faltan valores. 

x_train_plus

       Rooms  Bathroom  Landsize  Lattitude  Longtitude  Rooms_missing_value
664      3.0       2.0     368.0  -37.78460   145.09350                False
3270     2.0       1.0     586.0  -37.74350   145.04860                False
3873     2.0       1.0     348.0  -37.86720   145.04320                False
13170    3.0       1.0     521.0  -37.63854   145.05179                False
1730     4.0       2.0     687.0  -37.89310   145.04790                False
...      ...       ...       ...        ...         ...                  ...
13123    3.0       1.0     212.0  -37.77695   144.95785                False
3264     3.0       1.0     748.0  -37.74160   145.04810                False
9845     4.0       2.0     441.0  -37.73572   144.97256                False
10799    3.0       1.0     606.0  -37.72057   145.02615                False
2732     4.0       2.0     319.0  -37.79430   144.88750                False

[10185 rows x 6 columns]

In [77]:
x_validate_plus

       Rooms  Bathroom  Landsize  Lattitude  Longtitude  Rooms_missing_value
8505     4.0       2.0     450.0  -37.86100   144.89850                False
5523     2.0       1.0     172.0  -37.81000   144.88960                False
12852    3.0       1.0     581.0  -37.76740   144.82421                False
4818     3.0       2.0     128.0  -37.85260   145.00710                False
12812    3.0       2.0     480.0  -37.72523   144.94567                False
...      ...       ...       ...        ...         ...                  ...
12961    3.0       1.0     694.0  -38.03819   145.12443                False
2572     3.0       1.0     275.0  -37.77790   144.98620                False
9503     4.0       2.0     493.0  -37.78457   145.10453                False
356      3.0       1.0       0.0  -37.77230   144.90940                False
2034     3.0       1.0     537.0  -37.74430   144.94940                False

[3395 rows x 6 columns]

In [ ]:
# AHORA SI, una vez que tengo la columna extra creada (la cual avisa si existia un NaN o no) puedo imputar.
# Es decir, reemplazar el NaN por el promedio de la columna.

In [78]:
#Armo el imputer para que √âL OBJETO SOLITO ponga el promedio en lugar de los NaN

imputer = SimpleImputer()
x_train_plus_imputed = pd.DataFrame(imputer.fit_transform(x_train_plus))
x_validate_plus_imputed = pd.DataFrame(imputer.fit_transform(x_validate_plus))

In [79]:
x_train_plus_imputed.columns = x_train_plus.columns
x_validate_plus_imputed.columns = x_validate_plus.columns

In [80]:
x_train_plus_imputed

       Rooms  Bathroom  Landsize  Lattitude  Longtitude  Rooms_missing_value
0        3.0       2.0     368.0  -37.78460   145.09350                  0.0
1        2.0       1.0     586.0  -37.74350   145.04860                  0.0
2        2.0       1.0     348.0  -37.86720   145.04320                  0.0
3        3.0       1.0     521.0  -37.63854   145.05179                  0.0
4        4.0       2.0     687.0  -37.89310   145.04790                  0.0
...      ...       ...       ...        ...         ...                  ...
10180    3.0       1.0     212.0  -37.77695   144.95785                  0.0
10181    3.0       1.0     748.0  -37.74160   145.04810                  0.0
10182    4.0       2.0     441.0  -37.73572   144.97256                  0.0
10183    3.0       1.0     606.0  -37.72057   145.02615                  0.0
10184    4.0       2.0     319.0  -37.79430   144.88750                  0.0

[10185 rows x 6 columns]

In [81]:
x_validate_plus_imputed

      Rooms  Bathroom  Landsize  Lattitude  Longtitude  Rooms_missing_value
0       4.0       2.0     450.0  -37.86100   144.89850                  0.0
1       2.0       1.0     172.0  -37.81000   144.88960                  0.0
2       3.0       1.0     581.0  -37.76740   144.82421                  0.0
3       3.0       2.0     128.0  -37.85260   145.00710                  0.0
4       3.0       2.0     480.0  -37.72523   144.94567                  0.0
...     ...       ...       ...        ...         ...                  ...
3390    3.0       1.0     694.0  -38.03819   145.12443                  0.0
3391    3.0       1.0     275.0  -37.77790   144.98620                  0.0
3392    4.0       2.0     493.0  -37.78457   145.10453                  0.0
3393    3.0       1.0       0.0  -37.77230   144.90940                  0.0
3394    3.0       1.0     537.0  -37.74430   144.94940                  0.0

[3395 rows x 6 columns]

In [82]:
def Error (x_train , x_validate, y_train, y_validate):
    
    modelo = RandomForestRegressor(random_state=0)
    modelo.fit(x_train, y_train)
    predicciones = modelo.predict(x_validate)
    MAE = mean_absolute_error(y_validate, predicciones)
    return MAE

In [83]:
print(Error(x_train_plus_imputed, x_validate_plus_imputed, y_train, y_validate))

182195.90400509618